.label {
	font-family: Karla, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: normal;
	margin-bottom: 4px;
}

.input {
	background: #FFFFFF;
	border: 1px solid #1C74DC;
	box-sizing: border-box;
	border-radius: 4px;
	width: 331px;
	height: 44px;
	margin-bottom: 22px;
	font-size: 18px;
	padding-left: 10px;
}