.heading {
	font-family: 'Dancing Script', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: normal;
	margin-top: 133px;
	margin-bottom: 22px;
	text-align: center;

	color: #000000;
}

.centre {
	margin: auto;
	width: 330px;
}

.loginButtonSize {
	height: 44px;
	width: 330px;
}

.buttonMargin {
	margin-bottom: 22px;
}