.button {
  appearance: none;
  background-color: $blue;
  border-radius: 4px;
  border: 0;
  color: $white;
  cursor: pointer;
  display: block;
  font-family: $button-font;
  font-size: 16px;
  font-weight: 400;
  min-height: 40px;
  line-height: 40px;
  margin-bottom: 22px;
  margin-top: 22px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  display: inline-block;
  width: 144px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
  flex-shrink: 0;

  &:disabled {
    opacity: 0.5;
  }

  &--wide {
    display: block;
    width: 100%;
  }

  &--delete {
    background-color: $red;
  }
}

.small-button {
  cursor: pointer;
  background-color: $background;
  background-image: $foreground-arrow-next;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 2px center;
  color: $foreground;
  border: 2px solid $green;
  width: 95px;
  padding: 4px 4px 4px 16px;
  border-radius: 4px;
  flex-shrink: 0;

  &:disabled {
    opacity: 0.5;
  }

  &::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--solid {
    background-color: $green;
    color: $black;
    background-image: $black-arrow-next;
    border-color: transparent;
  }

  &--warn {
    background-color: $red;
    color: $white;
    background-image: $white-arrow-next;
    border-color: transparent;
  }
}

.arrow-button {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  background: $blue;
  border: 0;
  border-radius: 4px;
  padding: 0;
  margin-right: 8px;

  &::before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:disabled {
    opacity: 0.5;
  }

  &--up {
    &::before {
      background-image: url('./assets/icons/icon_up_white.svg');
    }
  }

  &--down {
    &::before {
      background-image: url('./assets/icons/icon_down_white.svg');
    }
  }

  span {
    display: none;
  }
}
