.list {
  padding: 0;
  margin: 0;
  list-style: none;

  .list {
    .nav-item {
      padding: 12px 8px;
      box-sizing: border-box;
      border: 0;

      &:nth-child(even) {
        background-color: $background-alt;
      }
    }
  }
}

.nav-item {
  font-family: $default-font;
  font-size: 18px;
  text-decoration: none;
  color: $foreground;
  display: block;
  border: 0;
  padding: 8px 0;
  margin: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $nav-border;

  &::after {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
  }

  &--clickable {
    cursor: pointer;
    text-decoration: underline;

    &:hover, &:focus {
      color: $blue;
    }
  }

  &--forward {
    &::after {
      content: '';
      background-image: url('assets/icons/icon_next_blue.svg');
    }
  }

  &__btn {
    border: 0;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    font-size: 0;
    cursor: pointer;
    flex-shrink: 0;

    &:disabled {
      opacity: 0.5;
    }

    &--left {
      margin-left: 0;
      margin-right: 8px;
    }

    &--edit {
      background-image: url('assets/icons/icon_edit_blue.svg');
    }

    &--delete {
      background-image: url('assets/icons/icon_delete_red.svg');
    }

    &--add {
      background-image: url('assets/icons/icon_add_blue.svg');
    }

    &--unchecked,
    &--checked {
      background-color: $background-alt;
      border: 2px solid $blue;
      border-radius: 4px;
      width: 22px;
      height: 22px;
    }

    &--checked {
      background-image: url('assets/icons/icon_check_blue.svg');
    }
  }

  &__title {
    color: $foreground;
    font-family: $default-font;
    font-weight: normal;
    font-size: 22px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__details {
    margin-right: 12px;
  }

  &__group {
    margin: 0 0 24px 0;
  }

  &__no-gifts {
    padding: 12px 0;
    padding-left: 8px;
  }

  &__sub-item {
    font-size: 16px;
  }

  a {
    color: $foreground;

    &:hover, &:focus {
      color: $highlight;
    }
  }
}

.buyer-list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;

  &__item {
    background-color: $blue;
    color: white;
    padding: 4px 8px;
    margin: 4px 0;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 12px;

    &--self {
      background-color: $green;
      color: black;
    }
  }

  &__wrapper {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}