$blue: var(--blue);
$red: var(--red);
$white: var(--white);
$black: var(--black);
$green: var(--green);
$background-alt: var(--background-alt);
$nav-border: var(--nav-border);
$background: var(--background);
$foreground: var(--foreground);
$highlight: var(--highlight);

$button-font: Noto Sans;
$default-font: Serif;