@import 'variables';
@import 'form';
@import 'button';
@import 'accordion';
@import 'link';
@import 'list';
@import 'loading';

body {
  margin: 0;
}

.container {
  padding: 22px;
  max-width: 768px;
  margin: auto;
}

.visually-hidden {
  // TOOD: Implement properly
  display: none;
}
