@import 'palette';
@import 'variables';
@import 'form';
@import 'button';
@import 'link';
@import 'list';
@import 'loading';

body {
  background-color: $background;
  margin: 0;
}

.container {
  padding: 22px;
  max-width: 768px;
  margin: auto;
}

p {
  color: $foreground;
}

.visually-hidden {
  // TOOD: Implement properly
  display: none;
}
